<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>JNRiders Guild Helmet Shop</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
  <img src="https://scontent.fmnl17-3.fna.fbcdn.net/v/t39.30808-6/297850381_124536476975552_4170653869711832821_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHGBMsDpAfZpK2IvgoLuZJs2zLuUNKRc1zbMu5Q0pFzXI3USh8B_WkICsqNQxP4izQZcG7B73elYcjKr_RYazJk&_nc_ohc=51_B_zG_ajYAX8Zf_OM&tn=kjD9SfFVuPDD1yE-&_nc_ht=scontent.fmnl17-3.fna&oh=00_AT-09JZA0iDqrJcFXWIFPKvzttSt3mHseOGYr-B55_81nA&oe=62F7E06D"
  style="width:95%; height:80%;" alt="About US" class="center"> 
  
<br><br><br><br><br><br><br>

  {% include "ecom/footer.html" %}
</body>


</html>

<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>