<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>JNRiders Guild Helmet Shop</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">Gille helmets are designed in Italy, a country that has a rich heritage. 
  Made with ABS 709 Material Shell, a polycarbonate material, with anti scratch visor, removable liners and multipoint ventilation in various designs, the customers could choose from. Passing strict, international standards with flying colors, 
  Gille helmets assure that the helmets provide safety not just by passing safety certifications but also by combining real accident 
  data with instrument testing in the process of product development to improve safety performance of the helmets. 
  Gille helmets provides comfort, safety and will keep you in style. </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
